/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : 17-Dec-2013, 14:18:24
    Author     : user
*/
#adminArea .imgButton{
    width:100px;
    height:100px;
    //background-repeat: no-repeat;
    //background-position: center center;
    //background-size:contain;
}

#editButton{
   
}

#deleteStudent{
    padding-left: 60px;
}

#addStudent{
    margin-left: 100px;
}

#viewStudent{
    margin-left: 100px;
}

#resetStudent{
    margin-left:60px;
}


#wrapper{
   //margin:auto auto; 
   
}

#adminArea{
    //margin-top: 50%;
    margin-left:15%;
    float:left;
    height: 550px;
    /*background-image: url('../images/l.png');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;*/
    //width:400px;
}

#thelist{
   float:left;
   border-radius: 5px;
}

#adminNav{
    //float:left;
}

#listArea{
 margin-top: 10%;
 float:left;
 width:150px;
}

#editTable{
 margin-top: -80px;

  height:500px;
  //display:block;
  float:left;
}