/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Nov-2013, 10:46:16
    Author     : Mary Martin
    This is the html css file
*/

#container {
    margin-left: 40px;
    text-align: center;
    width: 500px;
    height:500px;
    float: left;
    background-size: contain;
    font-family: sans-serif;
    background-image: url('../images/f1.png');
    background-repeat: no-repeat;
    background-position: center center;
}

label{
    width:140px;
    display: block;
    float: left;
}

#score{
    width: 320px;
    height: 400px;
    //display: block;
    background-color: lightyellow;
    color:brown;
    font-weight:bold;
    float: left;
    font-size: 14pt;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
}

.welcome{
    float:left;
}

#menuOption{
    background-color: #ffff66;
    border: #660000;
}

html .nav{
    height:120px;
    width:50%;
    background-color:#ffdc75;
    color:#660000;
    //margin: auto auto;
    position:absolute;
    //top: 0; left: 0; bottom: 0; right: 0;
    padding: 10px;
    border-radius: 20px;
}

.nav td{
    border: 4px solid #660000;
    background-size:100%; 
    background-repeat: no-repeat;
    height:90px;
    text-align: center;
    font-weight:bold;
    font-size:large;
    border-radius: 20px;
    background-position:center center;
}

#userList{
    font-weight: bold;
    margin: auto auto;
    position:relative;
    width: 150px;
    top: 0; left: 0; bottom: 0; right: 0; 
}

.lessonNav{
   width:100px;
   height:100px;
   //float: left;
   //position:relative;
   background-color:#ffdc75;
   background-image:url('../images/out.png');
   background-position:center center;
   background-size:contain; 
   background-repeat: no-repeat;
}

 img{
   width:90px;
   height:90px;
}

#img2{
    margin-left:50px;
}
