/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor
    Created on : 29-Mar-2014, 11:24:15
    Author     : user
*/

html { 
  background: url('../images/time.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
}

#un,#pw,#lname,#fname,#email,#classid,#bool { 
  background: #fff url('../images/status.gif') 202px 0 no-repeat; 
  padding: 0 20px 0 2px; 
  width: 198px; 
}

#un.denied, #pw.denied, #lname.denied, #fname.denied, #email.denied, #bool.denied,#classid.denied{ 
    background-color: #FF8282; 
    background-position: 202px -52px;
}

#un.thinking{ background-position: 202px -19px; }
#un.approved { background-position: 202px -35px; }

table {
    float:left;
    width: 320px;
    height: 500px;
    color: firebrick;
    border-left: #006666;
    font-style: initial;
    font-size:  12pt;
    padding-top: 80px;
    margin:auto auto;
}

.tablebg {
    color: #5f0322;
    width:520px;
    height: 560px;
    background-image:url('../images/l.png');
    background-repeat: no-repeat;
    background-position: center center;
    //padding-top: 10%;
    background-size:contain;
    vertical-align: central;
    margin:auto auto;
}
#tablewrapper{
    //padding-top:10px;
}
input{
   border-radius:10px; 
   padding-left: 2px;
}

.messageStyle{
    width: 280px;
    float: left;
    background-color:#ffffff;
    color:#660000;
    border: 1px;
    border-radius: 25px;
    padding: 5px;
}

#logDisplay{
    width:800px;
    margin: auto auto;
    background-color:khaki;
    border-radius: 10px;
}

h3{
    font-style:italic;
    color:#660000;
}
