/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Mar-2014, 11:46:39
    Author     : user
*/

.userWelcome{
    color:#660000;
    background-color: #ffff66;
    width: 500px;
    height:50px;
    //float: left;
    //border: #660000;
}

#log{
    padding-left: 25%; 
    padding-top: 45%;
}

.logInArea{
    //margin: auto auto;
    margin-left: 20%;
    margin-top: 35%;
    float:left;
    //width: 500px;
}

#logOutNav{
    margin-left: 20%;
    float:left;
}

#logTitle{
    background-image:url('../images/title2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y:50px;
    width: 250px;
    margin: auto auto;
    padding-top: 300px;
    vertical-align: middle;
    padding-left: 60px;
}

.logInButton{
    background-color:#660000; 
    color:#ffffff;
    border-color: #5f0322;
    font-family:cursive;
}

#logInFail{
    width: 300px;
    float: left;
    background-color: #660000;
    color: #ffffff;
    border: 1px;
    border-radius: 25px;
    padding: 5px;
}