/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor. 
    Created on : 06-Nov-2013, 23:08:15
    Author     : Mary
*/




#regTable{
    padding-top:250px;
    height:400px;
    background-image:url('../images/regTitle.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin:auto auto;
    background-position-y: 70px;
}

#regStyle{
    color: #5f0322;
    width:540px;
    height: 540px;
    background-image:url('../images/l.png');
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px;
    background-size:contain;
    vertical-align: middle;
    margin: auto auto;
    padding-top: 10px;
}

#nav{
    float:left;
    margin-top:-50px;
}